<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/cloudy.png">
    <title>About</title>
</head>
<body>
{{>navbar}}
<div class="main-content">
    {{>header}}
    <div class="wrap">
    <img src="img/ndt-2024-portrait-medium.jpg" alt="ndt" class="portrait">
    <p>{{message}}</p>
    </div>
</div>

{{>footer}}
</body>
</html>